.home--post-list-item-draft {
    & .home--post-list-item-anchor {
        transition: opacity 0.15s linear;
        opacity: 50%;

        &:hover,
        &:focus {
            opacity: 80%;
        }
    }

    &.home--post-list-item-empty {
        filter: grayscale(100%);
    }
}