/**
 * This file contains "emergency CSS".
 *
 * "Emergency CSS" refers to styles which are inlined into every page's `<head>`.
 *
 * This term originates from websites which include dark mode styles in an external CSS file,
 * which causes an excruciating flash of white, unstyled content.
 * Typically, this sends visitors to the emergency room.
 * As tempting as that is, UX must prevail!
 *
 * Remember to keep this file as small as possible :-)
 */

@import "theme";

/**
 * What follows is a bunch of bindings from the SCSS theme variables
 * to native CSS variables.  This is THE ONLY PLACE where the raw
 * SCSS variables should be accessed; accessing them anywhere else
 * will not ensure that the appropriate one is used for the user's
 * chosen color mode.
 */
:root {
  --bg-color-primary: #{$light-bg-color-primary};
  --fg-color-primary: #{$light-fg-color-primary};
  --fg-color-deemphasized: #{$light-fg-color-deemphasized};
  --fg-color-deemphasized-x: #{$light-fg-color-deemphasized-x};
  --shadow-color-primary: #{$light-shadow-color-primary};
  --link-color: #{$light-link-color};

  --font-heading: #{$font-heading};
  --font-auxiliary: #{$font-auxiliary};
  --font-body: #{$font-body};
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color-primary: #{$dark-bg-color-primary};
    --fg-color-primary: #{$dark-fg-color-primary};
    --fg-color-deemphasized: #{$dark-fg-color-deemphasized};
    --fg-color-deemphasized-x: #{$dark-fg-color-deemphasized-x};
    --shadow-color-primary: #{$dark-shadow-color-primary};
    --link-color: #{$dark-link-color};
  }
}
/** END bindings. */

body {
    color: var(--fg-color-primary);
    background-color: var(--bg-color-primary);

    font-size: 1.2em;
    line-height: 1.6rem;
    font-family: var(--font-body);
}
