<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  <!-- Emergency CSS!  See the linked file for details. -->
  <style type="text/css" media="screen">
    {%- capture emergency_scss -%}
      {% include styles/emergency.scss %}
    {%- endcapture -%}
    {{ emergency_scss | scssify }}
  </style>

  <!--
    Find below a utility class ("u__js_enabled") which allows stylesheets
    to only show elements when JavaScript is enabled.

    It's important to note here that we progressively enhance the webpage.
    This means that, as opposed to starting out under the assumption that
    JavaScript is enabled, we begin by assuming it's not present, and then
    adding auxilliary functionality to the page if it is.

    As a general rule, we've made an effort to ensure that each function
    which requires JavaScript has an appropriate fallback which works when
    it isn't enabled or, if that's not possible, the function is hidden.

    N.B. It should be noted that u__ is considered a reserved prefix for
    site-wide utility classes.
    Think of "utility classes" as basically a very small subset of Tailwind.
  -->
  <script type="text/javascript">
    const { documentElement: root } = document;
    root.classList.add('u__js_enabled');
    // TODO: should we add code for beforeprint here?
  </script>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" media="print" href="{{ '/assets/css/print.css' | relative_url }}" />

  <!-- The including layout may request that we include custom CSS files. -->
  {%- if include.custom_css -%}
    {%- for css_file in include.custom_css -%}
      <link rel="stylesheet" href="{{ '/assets/css/' | append: css_file | append: '.css' | relative_url }}" />
    {%- endfor -%}
  {%- endif -%}

  <!--
    The default.html template may give us a list of features which this page uses.
    Each feature may be associated with a list of styles: for example, the "sidebar"
    feature is associated with the "sidebar" style.  These styles are names / sub-paths
    of CSS files under the /assets/css/ folder.

    Here, we just need to iterate over those features and emit a stylesheet reference
    for each feature's required stylesheets.
  -->
  {%- if include.features -%}
    {%- for feature in include.features -%}
      {%- assign feature_styles = site.data.feature_styles[feature] -%}

      {%- if feature_styles -%}
        {%- for style_name in feature_styles -%}
          <link rel="stylesheet" href="{{ '/assets/css/' | append: style_name | append: '.css' | relative_url }}" />
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  <!-- todo: remove all these, replace with local fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>