{%- assign drafted_item_class = include.list_item_draft_class_name -%}
{%- assign list_item_empty_class_name = include.list_item_empty_class_name -%}

<ul class="menu_list {{ include.list_class_name }}">
  {%-for item in include.collection-%}
    {%- assign item_class_name = "menu_list_item " | append: include.list_item_class_name -%}

    {%- if drafted_item_class and item.draft -%}
      <!-- DRAFT. -->
      {%- assign item_class_name = item_class_name | append: " " | append: drafted_item_class -%}

      {%- if (item.excerpt == "" or item.excerpt == "\n" or item.excerpt == nil) and list_item_empty_class_name -%}
        <!-- EMPTY. -->
        {% comment %}This does not currently work.{% endcomment %}
        {%- assign item_class_name = item_class_name | append: " " | append: list_item_empty_class_name -%}
      {%- endif -%}
    {%- endif -%}

    <li class="{{ item_class_name }}">
    {%- if item.url -%}
      {%- if include.display_item_meta -%}
        <div class="menu_item_meta {{ include.list_item_meta_class_name }}">
        {%- if item.date and include.show_dates != false -%}
          <time class="menu_item_date" datetime="{{ item.date }}">{{ item.date | date: "%B %e, %Y" }}</time>
        {%- endif -%}

        {%- if include.add_meta_separator -%}
          <span class="menu_item_meta--separator {{ include.list_item_meta_separator_class_name }}" aria-hidden="true">•</span>
        {%- endif -%}
        <!--
            If we've been told to estimate Time To Read, do it.  Also allow individual posts to opt-out.
            This might be useful in future.
        -->
        {%- if include.estimate_ttr and item.estimate_ttr != false -%}
          <!-- The ordinary person can read at an average of 200wpm. -->
          {%- assign estimated_wpm_rate = 200 -%}

          <!-- Here's the heart of the estimated reading time algorithm. -->
          {%- assign estimated_time = item.content | number_of_words | divided_by: estimated_wpm_rate | at_least: 1 -%}
          <span class="menu_item_ttr {{ include.list_item_meta_ttr_class_name }}">
            <span class="menu_item_ttr--estimation">{{ estimated_time }}</span>
            <span class="menu_item_ttr--suffix">
              {%- if estimated_time == 1 -%}
                minute
              {%- else -%}
                minutes
              {%- endif -%}
            </span>
          </span>
        {%- endif -%}
      </div>
      {%- endif -%}
      <a href="{{ item.url }}" class="menu_item_link {{ include.list_item_anchor_class_name }}">{{ item.title }}</a>
    {%- else -%}
      <span class="menu_item_title">{{ item.title }}</span>
    {%- endif -%}
    </li>

    {%-if item.post_list-%}
      {%
        include post_list.html
          category=item.post_list.category
          limit=item.post_list.limit
          show_more=item.post_list.show_more
          show_more_text=item.post_list.show_more_text
          show_more_url=item.post_list.show_more_url
     -%}
    {%-endif-%}

    {%-if item.entries-%}
      {%-include menu_item.html collection=item.entries-%}
    {%-endif-%}
  {%-endfor-%}
</ul>