<ul class="menu_list {{ include.list_class_name }}">
  {%-for item in include.collection-%}
    <li class="menu_list_item {{ include.list_item_class_name }}">
    {%- if item.url -%}
      {%- if item.date -%}
        <time class="menu_item_date" datetime="{{ item.date }}">{{ item.date | date: "%B %e, %Y" }}</time>
      {%- endif -%}
      <a href="{{ item.url }}" class="menu_item_link {{ include.list_item_anchor_class_name }}">{{ item.title }}</a>
    {%- else -%}
      <span class="menu_item_title">{{ item.title }}</span>
    {%- endif -%}
    </li>

    {%-if item.post_list-%}
      {%
        include post_list.html
          category=item.post_list.category
          limit=item.post_list.limit
          show_more=item.post_list.show_more
          show_more_text=item.post_list.show_more_text
          show_more_url=item.post_list.show_more_url
     -%}
    {%-endif-%}

    {%-if item.entries-%}
      {%-include menu_item.html collection=item.entries-%}
    {%-endif-%}
  {%-endfor-%}
</ul>