/**
 * Background (Primary)
 * ====================
 * The colour of all pages' backgrounds.
 */
$bg-color-primary: rgb(237, 237, 237);

/**
 * Foreground (Primary)
 * ====================
 * The colour of the text on individual pages.
 */
$fg-color-primary: rgb(14, 14, 14);

/**
 * Foreground (Deemphasized)
 * =========================
 * The colour of deemphasized items.
 * For post pages, this is used as the colour for the post's title heading.
 */
$fg-color-deemphasized: #686868;

$fg-color-deemphasized-x: #aeaeae;

/**
 * Foreground (Primary, Links)
 * ===========================
 * The colour of links which, when clicked, direct the user to a page.
 * This colour should be reserved for links which navigate to the primary
 * focus of the page.
 */
$fg-color-primary-link: rgb(51, 115, 255);

$fg-color-secondary-link: rgb(91, 125, 198);

$link-color: blue;
