---
---

@import "theme";
@import "breakpoints";

.home--title-with-bio {
  margin-bottom: 0px;
}

.home--title {
  margin-top: 0px;
  color: var(--fg-secondary-text-highlight);
}

.home--bio {
  margin-top: 9px;
  color: var(--fg-color-deemphasized);
  font-family: var(--font-auxiliary);
}

.home--root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home--sidebar {
  // display: none;
}

.home--root > .hsb {
  margin-left: auto;
}

.home--post-list {
  & .menu_item_date,
  & .home--post-list-item__meta {
    font-family: var(--font-auxiliary);
    font-size: 13.5px;
  }

  gap: 25px;
}

.home--post-list-item__meta {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.home--post-list-item__meta-ttr {
  opacity: 75%;
}

.home--post-list-item__meta-separator {
  opacity: 45%;
}

@media screen and (prefers-contrast: more) {
  .home--post-list-item__meta-ttr,
  .home--post-list-item__meta-separator {
    opacity: 100%;
  }
}

h1 {
  font-weight: lighter;
  font-style: italic;
}

.home--post-list-item-anchor {
  font-family: #{$font-heading};
}

@media screen and (min-width: $brk-medium) {
	.page-container {
		max-width: 1400px;
    margin: auto;
	}
}