---
---

@import "theme";
@import "breakpoints";

.home--whoami > p {
  font-family: "PT Serif";
  font-size: 19px;
  line-height: 2.2rem;
  letter-spacing: 0.001;
  padding-top: 10px;
}

// .home--root {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

.home--sidebar {
  // display: none;
}

.home--root > .hsb {
  margin-left: auto;
}

.home--post-list {
  & .menu_item_date,
  & .home--post-list-item__meta {
    font-family: var(--font-auxiliary);
    font-size: 13.5px;
  }

  gap: 25px;
}

.home--post-list-item__meta {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.home--post-list-item__meta-ttr {
  opacity: 75%;
}

.home--post-list-item__meta-separator {
  opacity: 45%;
}

@media screen and (prefers-contrast: more) {
  .home--post-list-item__meta-ttr,
  .home--post-list-item__meta-separator {
    opacity: 100%;
  }
}

.home--post-list-item-anchor {
  font-family: #{$font-heading};
}
