---
---

@import "breakpoints";
@import "theme";

h2,
h3,
h4,
h5,
h6 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: "IBM Plex Sans Condensed";
}

h1 {
    font-weight: initial;
}

main {
    font-family: $font-body-post;
    max-width: 800px;
}

.post-title {
    margin-bottom: 5px;

    font-size: 40px;
    font-weight: 200;
    font-style: italic;
    color: var(--fg-secondary-text-highlight);
}

/** Table of Contents styling */
/** Style the <details> so it looks like ordinary text. */
.page-toc-opener > summary {
    list-style-type: none;

    /** Make it look like a link. */
    cursor: pointer;
    text-decoration: underline;
}

/** Courtesy of <https://stackoverflow.com/a/66814239>.  Thank you! :-) */
.page-toc-opener > summary::-webkit-details-marker, .page-toc-opener > summary::marker {
    display: none;
}

.page-toc-opener {
    display: inline;
}

#toc {
    /**
      * Move the <li> indicator inside the block element, so they don't "fall outside"
      * the <ul> when the low padding is applied.
      */
    list-style-position: inside;
    padding-left: 0px;
}

.post-meta {
    margin-top: 0px;

    /** Start off as a vertical list for smaller devices. */
    display: flex;
    flex-direction: column;

    font-family: IBM Plex Sans Condensed;
    opacity: 75%;
    font-size: 15px;
}

.post-meta-separator {
    /**
      * Hide the separator for smaller screens, because we display
      * the post-meta as a vertical list for them.
      */
    display: none;
}

@media screen and (min-width: $brk-vsmall) {
    .post-meta {
        flex-direction: row;
        gap: 15px;
    }

    .post-meta-separator {
        display: unset;
    }
}

@media screen and (min-width: $brk-small) {
    .post-meta {
        gap: 5px;
    }
}

/**
  * Make the post-meta's flex-direction column if the <details> is expanded.
  * This stops there being a bunch of wasted space to the left of it.
  */
.post-meta:has(.page-toc-opener[open]) {
    flex-direction: column;
}

/** ...also hide the separator. */
.post-meta:has(.page-toc-opener[open]) .post-meta-separator {
    display: none;
}

.post-meta:has(.page-toc-opener[open]) > .page-toc-opener > summary::after {
    content: ' â®';
}

.post-datetime {
    white-space: nowrap;
}

.post-leadin {
    margin-bottom: 30px;
    /* max-width: 850px; */
}

.post-content > p {
    font-size: 19px;
    line-height: 2.2rem;
    letter-spacing: 0.001;
    padding-top: 10px;
}

.page-content {
    margin-left: 45px;
    max-width: 850px;
}

.page-content img {
    max-width: 100%;
}

@media screen {
    .page-content img {
        border-radius: 4px;
        box-shadow: 0px 0px 4px 2px var(--shadow-color-primary);
    }
}

.post-heading-anchor {
    text-decoration: none;
    /* todo: light mode */
    color: #909090;
}

/** Make footnotes and heading anchors smaller on larger devices. */
@media screen and (min-width: 700px) {
    /* Make post heading anchors smaller. */
    .post-heading-anchor {
        font-size: 12px;
        vertical-align: super;
    }

    body {
        /** Tuned to perfection :) */
        padding-left: 11px;
    }
}

.footnote {
    line-height: 1;
    &::before {
        content: '[';
    }

    &::after {
        content: ']';
    }
}

.footnotes > ol:first-child {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

[role="doc-endnote"] > p {
    margin: 0px;
}

[role="doc-endnote"]:target {
    /** Take up the space for the border without displaying it. */
    border: 4px solid transparent;
    animation-duration: 1s;
    animation-name: highlight_endnote;
}

@keyframes highlight_endnote {
    50% {
        border-color: rgb(50, 50, 130);
    }

    100% {
        border-color: transparent;
    }
}

/** Adjustments to the heading size for smaller devices. */
@media screen and (max-width: 800px) {
    h1 {

    }
}

@media print {
    /** Hide interactive elements (ToC link, anchors, and footnote buttons for printers. */
    .page-toc-opener,
    .post-heading-anchor,
    .reversefootnote,
    [role="doc-noteref"] {
        display: none;
    }

    /** ...also force a page-break so footnotes are on a separate page. */
    .footnotes {
        page-break-before: always;
    }
}

.text--muted {
    opacity: 60%;
}

.text--bold {
    font-weight: bold;
}

@media screen and (max-width: 990px) {
    .page-content {
        margin-left: unset;
    }
}