@use "sass:color";

/**
 * Background (Primary)
 * ====================
 * The colour of all pages' backgrounds.
 */
$light-bg-color-primary: rgb(255, 238, 221);

/**
 * Foreground (Primary)
 * ====================
 * The colour of the text on individual pages.
 */
$light-fg-color-primary: rgb(14, 14, 14);

/**
 * Foreground (Deemphasized)
 * =========================
 * The colour of deemphasized items.
 * For post pages, this is used as the colour for the post's title heading.
 */
$light-fg-color-deemphasized: #686868;

$light-fg-color-deemphasized-x: #aeaeae;

/**
 * Foreground (Primary, Links)
 * ===========================
 * The colour of links which, when clicked, direct the user to a page.
 * This colour should be reserved for links which navigate to the primary
 * focus of the page.
 */
$light-fg-color-primary-link: rgb(51, 115, 255);

/** Foreground (Secondary, Links) */
$light-fg-color-secondary-link: rgb(91, 125, 198);

$light-link-color: rgb(65, 65, 167);

$light-shadow-color-primary: color.scale($light-bg-color-primary, $blackness: 100%);
