---
layout: default
custom_css:
  - "post"
---

<header>
  {%-include back_link.html-%}
</header>

<article>
  <div class="post-leadin">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-meta">
      <time class="post-datetime" datetime="{{ page.date }}"
        >{{ page.date | date: "%B %e, %Y" }}</time>
      {%- capture toc -%}
        {{ page.content | toc_only }}
      {%- endcapture -%}
      <!-- We're currently unable to omit TOC if it's empty.  Workaround required... -->
      {% if page.toc and toc != "" %}
        <span class="post-meta-separator">•</span>
        <details class="page-toc-opener">
          <summary>Table of contents</summary>
          {{ page.content | toc_only }}
        </details>
      {% endif %}
    </div>
  </div>

  <div class="post-content">
    {%- if page.heading_anchors -%}
      {% capture content %}
        {% include vendor/anchor_headings.html html=content anchorBody="#" anchorClass="post-heading-anchor" anchorAttrs="aria-hidden='true'" %}
      {% endcapture %}
    {%- endif -%}

    {{ content }}
  </div>

  <!-- custom css -->
  {{ include.custom_css }} {%-if include.citations == true -%} {% bibliography
  --cited_in_order %} {%-endif-%}
</article>
